/* Para dispositivos grandes, como desktops */
@media screen and (min-width: 1024px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }
}

/* Para dispositivos médios, como tablets */
@media screen and (max-width: 1023px) {
  /* Adicione estilos específicos para telas de tamanho médio aqui */
}

/* Para dispositivos pequenos, como smartphones em modo paisagem */
@media screen and (max-width: 768px) {
  /* Adicione estilos específicos para telas menores, como smartphones em modo paisagem, aqui */
}

/* Para dispositivos extra pequenos, como smartphones em modo retrato */
@media screen and (max-width: 480px) {
  /* Adicione estilos específicos para telas muito pequenas, como smartphones em modo retrato, aqui */
}
